<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <mime-mapping>
    <extension>htm</extension>
    <mime-type>text/html;charset=UTF-8</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html;charset=UTF-8</mime-type>
  </mime-mapping>
  <servlet>
    <servlet-name>UserLoginAction</servlet-name>
    <servlet-class>common.action.UserLoginAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OpenFileAction</servlet-name>
    <servlet-class>common.action.OpenFileAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindAllUserAction</servlet-name>
    <servlet-class>admin.action.FindAllUserAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminUserPageListAction</servlet-name>
    <servlet-class>admin.action.AdminUserPageListAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminFilesPageListAction</servlet-name>
    <servlet-class>admin.action.AdminFilesPageListAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminUserAction</servlet-name>
    <servlet-class>admin.action.AdminUserAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadFile</servlet-name>
    <servlet-class>common.action.DownloadFile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminIncomePageListAction</servlet-name>
    <servlet-class>admin.action.AdminIncomePageListAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminFilesAction</servlet-name>
    <servlet-class>admin.action.AdminFilesAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminLoginAction</servlet-name>
    <servlet-class>admin.action.AdminLoginAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addchongzhi</servlet-name>
    <servlet-class>common.action.addchongzhi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addchongzhi</servlet-name>
    <url-pattern>/cz/cz.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>chongzhi2</servlet-name>
    <servlet-class>common.action.chongzhi2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chongzhi2</servlet-name>
    <url-pattern>/cz2/cz2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>common.action.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>common.action.UploadServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLoginAction</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OpenFileAction</servlet-name>
    <url-pattern>/OpenFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindAllUserAction</servlet-name>
    <url-pattern>/findAllUserAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminUserPageListAction</servlet-name>
    <url-pattern>/admin/adminUserPageListAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminFilesPageListAction</servlet-name>
    <url-pattern>/admin/adminFilesPageListAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminUserAction</servlet-name>
    <url-pattern>/admin/adminUserAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadFile</servlet-name>
    <url-pattern>/downloadFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminIncomePageListAction</servlet-name>
    <url-pattern>/admin/adminIncomePageListAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminFilesAction</servlet-name>
    <url-pattern>/admin/adminFilesAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginAction</servlet-name>
    <url-pattern>/admin/adminLoginAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>common.action.LogOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResetPasswordAction</servlet-name>
    <servlet-class>common.action.ResetPasswordAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserAction</servlet-name>
    <servlet-class>common.action.UpdateUserAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileAction</servlet-name>
    <servlet-class>common.action.FileAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeIncomeAction</servlet-name>
    <servlet-class>common.action.ChangeIncomeAction</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  
  <servlet-mapping>
    <servlet-name>ResetPasswordAction</servlet-name>
    <url-pattern>/resetpassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserAction</servlet-name>
    <url-pattern>/updateuser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileAction</servlet-name>
    <url-pattern>/file</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeIncomeAction</servlet-name>
    <url-pattern>/changeincome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>relativeAction</servlet-name>
    <servlet-class>common.action.relativeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>relativeAction</servlet-name>
    <url-pattern>/relativeAction</url-pattern>
  </servlet-mapping>

  
  <servlet>
    <servlet-name>FilePageListAction</servlet-name>
    <servlet-class>common.action.FilePageListAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommentAction</servlet-name>
    <servlet-class>common.action.CommentAction</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>CommentAction</servlet-name>
    <url-pattern>/commentAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FilePageListAction</servlet-name>
    <url-pattern>/filePageListAction</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>CharsetEncodingFilter</filter-name>
    <filter-class>common.filters.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharsetEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
   <filter>
    <filter-name>AdminLoginFilter</filter-name>
    <filter-class>admin.filter.AdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLoginFilter</filter-name>
    <url-pattern>/admin/pages/*</url-pattern>
  </filter-mapping>
</web-app>